<div class="panel panel-clean">
    <div class="panel-body">
          <button type="button"><a ng-href="https://start.teamviewer.com/{{device.c8y_TeamViewer.address}}">Connect</a</button> 
    </div>
</div>