<div class="panel panel-clean">
  <div class="panel-body">
    <form name="contactForm">
      <div class="form-group">
        <label for="contact_name">Name</label>
        <input id="contact_name" type="text" class="form-control" ng-model="device.c8y_Contact.name">
      </div>
      <div class="form-group">
        <label for="contact_email">E-mail address</label>
        <input id="contact_email" type="text" class="form-control" ng-model="device.c8y_Contact.email">
      </div>
      <div class="form-group">
        <label for="contact_phone">Phone</label>
        <a href="" ng-model="device.c8y_Contact.phone"> </a>
        <input id="contact_phone" type="text" class="form-control" ng-model="device.c8y_Contact.phone">
      </div>
      <div class="form-group">
        <label for="contact_address">Address</label>
        <input id="contact_address" type="text" class="form-control" ng-model="device.c8y_Contact.address">
      </div>
      <div>
        <a href="" class="btn btn-primary" ng-click="save(device)" ng-disabled="contactForm.$invalid">Save changes</a>
      </div>
    </form>
   <button type="button"><a ng-href="http://www.gravatar.com/avatar/{{device.c8y_TeamViewer.address}}">{{device.c8y_TeamViewer.address}}</a</button> 
  </div>
</div>